html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin:0px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: lighter;
  font-style: normal;
}

img.circle{
  -webkit-clip-path: circle(50% at 50% 50%);
}

h2, h3, h4, h5{
  font-weight: 100;
}

#supercontainer{
  width: 100%;
  margin:0px;
  padding:0px;
}

nav{
  width: 100%;
  height: 70px;
  position:fixed;
  background-color: #000000;
  z-index:100;
  padding: 17px 40px 10px 40px;
  color:white;
}

nav #navname{
  color:inherit;
  font-size: 20px;
  width: 40%;
  text-align: left;
  display: inline;
}

nav #navname h2{
    display: inline;
}

nav #navbuttons{
  width: 370px;
  float: right;
}

nav ul{
  list-style: none;
  margin:5px 0px;
  padding: 0px;
}

nav li{
  display:inline;
  margin:0px 10px 0px 10px;
}

nav li a{
  text-decoration: none;
  color:inherit;
  font-size: 20px
}

.maincontainer{
  width: 100%;
  height: calc(100vh - 70px);
  margin: 0px;
  overflow:hidden;
  position: relative;
}

.maincontainer h2.containerheader{
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 50px;
  color: grey;
  text-align: center;
}

.maincontainer .lefthalf{
  width: 50%;
  float: left;
  padding: 0 100px;
}

.maincontainer .righthalf{
  width: 50%;
  float: right;
  padding: 0 100px;
}

.maincontainer .lefthalf:after{
  clear:both;
}

.maincontainer .righthalf:after{
  clear:both;
}

#topcontainer{
  font-weight: 100;
  font-size: 60px;
  display: block;
  height: 100vh;
}
#topcontainer #hello{
  text-align: center;
  display:block;
  height: 100vh;
  padding-top: 300px;
  color:white

}
#topcontainer #hello h1,h2{
  font-weight: 100;
  font-style: normal;
  margin-top: 10px;
  margin-bottom:10px;
}

#topcontainer:before{
  content: "";
  background-image: url(img/Trondheim.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  z-index: -1;
}
#aboutcontainer{
  background-color: lightgrey;
  font-size: 18px;
}

#aboutcontainer .lefthalf{
  margin-top: 80px;
}

#aboutcontainer .righthalf{
  position: relative;
  text-align: center;
}

#aboutcontainer .righthalf .interest{
  width: 25%;
  height: 200px;
  display: inline-block;
}

#aboutcontainer .righthalf h3{
  margin-bottom: 50px;
}

#aboutcontainer .interest h4{
  font-weight: 100;
  text-align: center;
}

#aboutcontainer .righthalf img{
  height:100px;
}

#experiencecontainer{
  background-color: lightgrey;
  padding-left: 100px;
  padding-right: 100px;
}

#experiencecontainer img{
  width: 80px;
}

#experiencecontainer .experienceblock{
    width: 25%;
    display: inline-block;
}

#experiencecontainer .experienceheader{
  height: 80px;
}

#experiencecontainer h3{
  padding-bottom: calc((80px - 25px) / 2);
  font-size: 25px;
  display: inline-block;
  width: calc(100% - 100px);
}

#contactcontainer{
  background-color: white;
}

#contactcontainer p{
  text-align: center;
  font-size: 25px;
}

#contactcontainer .email{
  margin-top: 80px;
  font-size: 80px;
  margin-bottom: 80px;
  text-align: center;
}

#contactcontainer #PGP-header{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

#contactcontainer #PGP-header span{
  width: auto;
  cursor: pointer;
}

#contactcontainer #PGP-header .fa{
  display:inline-block;
  margin-right: 5px;
  cursor: pointer;
}

#contactcontainer #PGP{
  background-color: lightgrey;
  height: 0px;
  overflow: hidden;
  transition: height 1s ease;
}

#contactcontainer #PGP.transform-display{
  height: 135px;

}
